<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>United Communities Association</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="css/master.css">
  </head>

  <style media="screen">
    .welcome{
      height: 30rem;
    }


    #navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 3rem;
    }


  </style>

  <body>

    <div class="container">
      <div class="row" id="navbar">
        <div class="logo">
          <img src="http://sonalibankers.com/wp-content/uploads/2015/02/w3c-community-logo.png" width="100" height="100"  alt="UCA" class="animated slideInLeft">
        </div>

        <div class="nav">
          <a href="/login" class="btn btn-success"><span class="fa fa-user"> Member Login</a>
          <a href="/report" class="btn btn-danger"><span class="fa fa-bullhorn"> Report</a>
        </div>
      </div>


      <hr>


      <div class="welcome text-center">
        <img src="http://www.wpneighbors.com/images/cnip.png" alt="United Communities">
      </div>

      <div class="col-sm-6 col-sm-offset-3">
        <div class="text-center">
          <form action="/signup" method="post">
            <div class="form-group">
              <input class="form-control" placeholder="First Name" type="text" name="firstname">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Last Name" type="text" name="lastname">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Email" type="text" name="email">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" type="password" name="password">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Confirm Password" type="password" name="password">
            </div>
            <button class="btn btn-warning btn-lg" type="submit">Sign up</button>
          </form>
        </div>
      </div>
    </div>

  </body>
</html>
