<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Node Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"> Local Signup</a>
      </div>

      <div class="text-center">
        <p>Authenticate app by FVI Gang</p>
      </div>
    </div>
  </body>
</html>
