<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>United Communities Association</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/master.css">
  </head>

  <style media="screen">

    .container{
      height: 50em;
      margin-top: 1.8em;
    }

    .footer-bs{
      background-color: rgb(9, 70, 89);
      padding: 5em;
      color: white;
    }

    .navlogin{
      height: 4em;
      padding: 1em;
    }
    .navbar{
      position: fixed;
    }

    .list{
      color:yellow;
    }

    .list a{
      color: white;
    }

    .form{
      margin-top: 5em;
    }

    .welcome{
      background-size: contain;
    }
  </style>

  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">

      <div class="navlogin text-right">
       <a href="/login" class="btn btn-success"><span class="fa fa-user"> Member Login</a>
       <a href="/report" class="btn btn-danger"><span class="fa fa-bullhorn"> Report</a>
     </div>
    </nav>


    <div class="container">

      <div class="welcome text-center">
        <img src="http://www.wpneighbors.com/images/cnip.png" alt="United Communities">
      </div>

      <div class="col-sm-6 col-sm-offset-3 text-center form">

        <h1>Sign Up</h1>
        </br></br>

           <!--  Signup form -->
      <form action="/signup" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="email" placeholder="email" required>
            </div>
            <div class="form-group">

              <input class="form-control" type="password" name="password" placeholder="password" size="25" required>
            </div>
            <div class="form-group">

              <input class="form-control" type="password" placeholder="confirm password" size="25" required>
            </div>
            <button class="btn btn-warning btn-lg" type="submit">Sign Up</button>
      </form>

    </div>
    </div>



    <!--- Footer ------------>
    <footer class="footer-bs">

      <div class="row" style="text-align:center;">
        <h1>United Communities Association</h1>
      </div>

        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Working <i style="color:green">Together</i>, Improving <i style="color:orange">Our</i> Communities</h2>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>Menu —</h4>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">Local Classified Ads</a></li>
                        <li><a href="#">Nearby Community</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-social animated fadeInDown">
            	<h4>Follow Us</h4>
            	<ul class="list">
                	<li><a href="#"><span class="fa fa-facebook"> Facebook</a></li>
                	<li><a href="#"><span class="fa fa-twitter"> Twitter</a></li>
                	<li><a href="#"><span class="fa fa-instagram"> Instagram</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>





  </body>
</html>
