<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Node Authentication</h1>
        <p>Login or Register:</p>
        <a href="/login" class="btn btn-success"><span class="fa fa-user"> Local Login</a>
        <a href="/signup" class="btn btn-warning"><span class="fa fa-user"> Local Signup</a>
        <a href="/profile" class="btn btn-info"><span class="fa fa-user"> Profile</a>
      </div>

      <div class="text-center">
        <p>Authenticating app by FVI Clan</p>
      </div>
    </div>
  </body>
</html>
