<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
          <h1><span class="fa fa-sign-in"></span> sign in</h1>
      </div>

      <div class="text-center">
        <p>Authenticate app by FVI Gang</p>
      </div>
    </div>



    <!-- <div class="text-center">
      <p>Authenticate app by FVI Gang</p>
    </div> -->

  </body>
</html>
