<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log in - UCA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <style media="screen">



    #login{
      background-color: rgba(6, 123, 159, 0.1);
      height: 55rem;
      margin-top: 5rem;
      padding-top: 3em;
    }

  </style>

  <body>
    <div class="container">

      <div class="col-sm-6 col-sm-offset-3 text-center" id="login">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/28/f8/04/28f80414d1ce89c59cb3c2775843461e.png" width="70" height="70"  alt="UCA">

          <h1>Reset Password</h1>
          </br></br>

             <!--  Reset password form -->
      <form action="/login" method="post">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="email" name="email" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="confirm email" name="email" required>
            </div>

            <button class="btn btn-warning btn-lg" type="submit">Reset Password</button>
          </br></br>
            <div class="row text-right">
              <a href="/">Return Home </a></br>
            </div>
      </form>
      </div>
    </div>
  </body>
</html>
